Repository alvaro-osvaldo-tm/Normative-Documents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --ignore-unknown --write, npx shellcheck, npx shellcheck -e SC1081

.lintstagedrc:

{
	"*.md": ["npx prettier --ignore-unknown  --write"],
	"*.ts": ["npx prettier --ignore-unknown  --write"],
	"*.sh": ["npx shellcheck"],
	".husky/*": ["npx shellcheck -e SC1081"]	
}

build: Added 'lint' as type for commit messages specification
  .commitlintrc.ts
Due: npx prettier --ignore-unknown --write

build: Reduced 'prettier' log verbosity
  .lintstagedrc
  Tools/development/lint/lint-all.sh
Due: npx shellcheck

build (sys)!: Applied 'standard system structure' template
  .gitignore
  Build/.gitkeep
  Dockerfile.yml
  Documentation/.gitkeep
  Testing/.gitkeep
  pyproject.toml
  tmp/.gitignore
Due: none

build (sys): Removed 'signed-off-by' commit message requirement
  .commitlintrc.ts
Due: npx prettier --ignore-unknown --write

build (sys): Marked 'shellcheck' dependency as 'dev' dependency
  package.json
Due: none

build (sys): Updated required python version
  .python-version
Due: none

build! : Configured 'Sphinx' build workflow
  .gitignore
  Dockerfile.yml
  Makefile
  README.md
  Taxonomy/Makefile
  Taxonomy/conf.py
  Taxonomy/index.md
  build/.gitkeep
  package.json
  requirements.txt
Due: npx prettier --ignore-unknown --write

build! : Defined 'Make' as default workflow manager
  Makefile
  package.json
Due: none

ci: Updated 'continuous integration' configurations
  .commitlintrc.ts
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/terminal.sh
  .lintstagedrc
  .prettierignore
  Library/Software/Terminal/bootstrap.sh
  Library/Software/Terminal/logging.sh
  Makefile
  Operations/Parameters/create.sh
  Operations/Release/Status/is_released.sh
  Operations/Release/Status/is_saved.sh
  Operations/Release/Versioning/current-version.sh
  Operations/System/Mode/describe.sh
  Operations/System/Mode/is_development.sh
  Operations/rootdir.sh
  Parameters/environment/00-runtime.sh
  Parameters/environment/01-stack.sh
  Parameters/environment/02-git-hook.env
  Specification/SRD - Stakeholder Requirements Document.md
  package-lock.json
  package.json
  pyproject.toml
  releaserc.toml
Due: npx prettier --ignore-unknown --write, npx shellcheck, npx shellcheck -e SC1081

ci: Removed deprecated 'Docker composer' file
  Dockerfile.yml
Due: none

documentation: Main 'README' file updated
  README.md
Due: npx prettier --ignore-unknown --write

build: Implemented a lint for all files
  .lintstagedrc
  Makefile
  Operations/Engineering/Lint/file.sh
  requirements.txt
Due: npx shellcheck

build: Removed deprecated file
  Operations/rootdir.sh
Due: npx shellcheck

ci: Executed lint
  .commitlintrc.ts
  .husky/commit-msg
  Operations/Parameters/create.sh
  Source/Taxonomy/Engineering/Software Engineering/Activities/Management/Containerization/Tools/Docker Platform/Docker Images Normative.md
  Source/Taxonomy/Infrastructure/Physical/Mobile/Smartphone/Operations/Smartphone Formatting Operation.md
  Source/Taxonomy/conf.py
Due: npx prettier --ignore-unknown --write, npx shellcheck, npx shellcheck -e SC1081

feature: Added a new enterprise architecture template
  Library/Templates/Architecture Templates/Enterprise Architecture Templates/Business Principle.md
Due: npx prettier --ignore-unknown --write

fix: Moved template files to conform new system structure standard
  Library/Templates/templates/Building Blocks/Architectural Solution Control Template.md
  Library/Templates/templates/Building Blocks/Architectural Solution Template.md
  Library/Templates/templates/Business Analysis/Business Function Template.md
Due: npx prettier --ignore-unknown --write

build: Updated 'README' file, 'Roadmap' section
  README.md
Due: npx prettier --ignore-unknown --write

build: Updated repository configurations
  .commitlintrc.ts
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  Library/Software/Terminal/bootstrap.sh
  Library/Software/Terminal/logging.sh
  Makefile
  Operations/Engineering/Lint/file.sh
  Operations/Parameters/create.sh
  Operations/Release/Status/is_released.sh
  Operations/Release/Status/is_saved.sh
  Operations/System/Mode/describe.sh
  Operations/System/Mode/is_development.sh
  Operations/System/Requirements/check.sh
  Operations/rootdir.sh
  Parameters/environment/00-runtime.sh
  Parameters/environment/01-stack.sh
  gulpfile.js
  package-lock.json
  package.json
  requirements.dev.txt
  requirements.txt
Due: npx prettier --ignore-unknown --write, npx shellcheck, npx shellcheck -e SC1081

build: 'Enterprise Architecture' and 'Software Architecture' taxonomy item moved
  Source/Taxonomy/Architecture/Roles/Enterprise Architect.md
  Source/Taxonomy/Engineering/Software Engineering/Software Architecture/.gitkeep
  Source/Taxonomy/Engineering/Software Engineering/Software Architecture/Serveless/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Design/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Enterprise Architecture.md
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TAFIM - Technical Architecture Framework for Information Management/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TAFIM - Technical Architecture Framework for Information Management/Reference Model/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /Approachs/Enabling Enterprise Agility.md
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/Guide/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/Implementation/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/Reference Model/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/Specification/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 10/Standard/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/Guide/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/Implementation/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/Reference Model/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/Specification/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/TOGAF - The Open Group Architecture Framework /TOGAF 9.2/Standard/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Frameworks/UAF - Unified Architecture Framework/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Methods/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Modeling/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Modeling/Archimate/.gitkeep
  Source/Taxonomy/Enterprise/Enterprise Architecture/Patterns/.gitkeep
Due: npx prettier --ignore-unknown --write

build: Removed deprecated file
  Tools/development/versioning/current-version.sh
Due: npx shellcheck

build: Lint file moved
  Operations/Development/Lint/lint-all.sh
Due: npx shellcheck

revert: 1ce5b72f148f595c89bf28c68996b718d53a9ed6
  Operations/Engineering/Lint/file.sh
Due: npx shellcheck

build: Configured 'Lintstaged' to use Linter from 'Operations'
  .lintstagedrc
Due: none

build: Implemented source lint workflow
  Makefile
Due: none

build: Removed deprecated file
  Tools/maintenance/taxonomy/for-each-element/insert-a-gitkeep-file.sh
Due: npx shellcheck

build: Updated 'README' file
  README.md
Due: npx prettier --ignore-unknown --write

build: Fixes in linter script
  Operations/Engineering/Lint/file.sh
Due: npx shellcheck

build: Updated 'README' document
  README.md
Due: npx prettier --ignore-unknown --write
